<body>

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/new/rather/general">New Rather</a>
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>

        </ul>
    </div>
</div>

<div class="alert alert-success">
<ol class = "food">
    {{#if foodRather}}
        <h3 class="alert-heading">Food Rathers:</h3>


    {{#each foodRather as |food|}}

        <li class = "each"> Id' MUCH rather be eating <strong>{{food.what}}</strong>
            but I can't because <strong>{{food.reason}}</strong>
            <br>
            Plan to achieve this: <strong>{{food.plan}}</strong>
        </li>
    {{/each}}
    {{/if}}

</ol>
</div>

<div class="alert alert-info">
<ol class = "visit">
{{#if visitRather}}
    <h3 class="alert-heading">Visit Rathers:</h3>
    {{#each visitRather as |visit|}}
        <li class = "each2"> I'd so much rather be visiting <strong>{{visit.what}}</strong>
            but I can't because <strong>{{visit.reason}}</strong>
            <br>
            plan to achieve: <strong>{{visit.plan}}</strong>
        </li>
    {{/each}}
{{/if}}
</ol>
</div>

<div class="alert alert-warning">
<ol class = "watch">
{{#if watchRather}}
    <h3 class="alert-heading">Watch Rathers:</h3>
    {{#each watchRather as |watch|}}
        <li class = "each3"> I really would rather be watching <strong>{{watch.what}}</strong>
            but I can't because <strong>{{watch.reason}}</strong>
            <br>
            plan to achieve: <strong>{{watch.plan}}</strong>
        </li>
    {{/each}}
{{/if}}
</ol>

</div>


<div class="alert alert-danger">
    <ol class = "random">
{{#if randomRather}}
    <h3 class="alert-heading">Random:</h3>
        {{#each randomRather as |random|}}
                <ul.inline> <img src ={{random.what}} class="img-rounded" width="304" height="236"> </ul.inline>

        {{/each}}
    {{/if}}

    </ol>
</div>
